<div class="row">
  <h1 class="tbl-header margin-right-large">Virtual Requests</h1>
  <ul class="tabs">
    <li class="pull-left margin-right-large tab-on" data-table="pending-table">queued</li>
    <li class="pull-left margin-right-large" data-table="processing-table">processing</li>
    <li class="pull-left" data-table="completed-table">recently completed</li>
  </ul>
  <%= render partial: "virtual_request_table", :locals => { :virtuals => @virtuals, :show_artists => true, :show_requested => true, :elem_class => "pending-table" } %>
  <%= render partial: "virtual_request_table", :locals => { :virtuals => @virtuals_processing, :show_artists => true, :show_requested => true, :elem_class => "processing-table hide" } %>
  <%= render partial: "virtual_request_table", :locals => { :virtuals => @virtuals_completed, :show_artists => true, :show_requested => true, :elem_class => "completed-table hide" } %>
  <%#= link_to "Virtual Request", new_virtual_request_path, class: "new-btn" %>
</div>