<div class="row pad-all-large">
  <div class="white-box">
    <h1 class="tbl-header">Artist Statistics</h1>
    <table class="align-center no-margin">
      <%= render 'artist_stats_table', artists: @artists %>
    </table>
  </div>
</div>
<div class="row pad-all-large" style="padding-top: 0">
  <div class="white-box">
    <h1 class="tbl-header">Request Statistics</h1>
    <table class="align-center no-margin">
      <%= render 'request_stats_table', sales: @sales %>
    </table>
  </div>
</div>
<div class="row pad-all-large" style="padding-top: 0">
  <div class="white-box">
    <h1 class="tbl-header">Team Statistics</h1>
    <table class="align-center no-margin">
      <%= render 'team_stats_table', sales: @sales, artists: @artists %>
    </table>
  </div>
</div>