<div class="pad-all-large">
  <h1>Users</h1>
  <table class="artist-tbl">
    <tr>
      <th>Name</th>
      <th>email</th>
      <th>In Queue</th>
      <th>Admin?</th>
    </tr>
    <%= render @users %>
  </table>
  <% if current_user.admin %>
    <%= link_to "New User", new_creative_user_path, class: "button margin-right" %>
  <% end %>
</div>