<div class="row">
  <h1>Priority Rules</h1>
  <p class="pad-top">Create a rule to ensure that any virtual request that matches the rule recieves priority.</p>
  <%= render 'rules_table', rules: @rules %>
  <%= link_to "New Rule", new_journalbooks_rule_path, class: "new-btn" %>
</div>