$yellow-light:#f2db94;
$yellow:      #f2b33d;

$maroon:      #360101;
$orange:      #f2622e;
$red:         #CD3804;

$tan-light:   #FFFBED;
$tan:         #E5AA60;
$tan-med:     #B2A16D;
$tan-dark:    #726846;

/*$lightgray: #EEEBE8;
$medgray: #D7CFC2;
$gray: #C9C0B4;
$darkgray: #746E68;*/



@mixin smallfont {
  font-size: 12px;
}

@mixin roundcorners {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@mixin shadow {
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@mixin cursor {
  cursor: pointer;
  cursor: hand;
}