@import "variables_mixins";

.alert-box-error {
  padding: 15px;
  color: white;
  background: $orange;

  li {
    font-size: 13px;
    margin: 5px 30px 0;
  }
}

.alert-box-success {
  @extend .alert-box-error;
  background: $blue;
}

.alert-error {
  height: 30px;
  background: asset-url('icons/error.png') no-repeat;
  padding: 8px 0 0 40px;
}

.alert-success {
  @extend .alert-error;
  background: asset-url('icons/success.png') no-repeat;
}

.alert-text {
  color: $red;
}

.field_with_errors label {
  color: $red;
}