@import "variables_mixins";

a {
  text-decoration: none;
  color: $orange;
  font-weight: bold;
}

.button {
  border: none;
  @include cursor;
  @include roundcorners;
  @include smallfont;
  background: $yellow;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  display: inline-block;
  
  &:hover {
    background: $yellow-light;
  }
}

.email-btn {
  @extend .button;
  background-image: image-url('icons/mail.png');
  background-repeat: no-repeat;
  background-color: $orange;
  background-position: 10px 10px;
  padding: 10px 15px 10px 40px;

  &:hover {
    @extend .email-btn;
    background-color: $tan;
  }
}

.pdf-button {
  &:hover {
    opacity: 0.5;
  }
}