@import "variables_mixins";

.title-bar-container {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 8px 0;
  background: $tan-light;
  @include roundcorners;
}

.title-bar {
  text-align: right;
  color: white;
  font-weight: bold;
  padding: 8px 8px; 
  width: 0%;
  height: 100%;
  @include roundcorners;
  background: #b22c00; /* Old browsers */
  background: -moz-linear-gradient(left,  #b22c00 0%, #f2622e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b22c00), color-stop(100%,#f2622e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #b22c00 0%,#f2622e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #b22c00 0%,#f2622e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #b22c00 0%,#f2622e 100%); /* IE10+ */
  background: linear-gradient(to right,  #b22c00 0%,#f2622e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b22c00', endColorstr='#f2622e',GradientType=1 ); /* IE6-9 */
}

.title-bar-complete {
  @extend .title-bar;
  width: 100%;
}

.not-earned {
  opacity: 0.2;
}