@import "variables_mixins";

* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box
}

body {
  background: $maroon;
}

.primary-bg {
  background: image-url('backgrounds/groovepaper.png') repeat;
}

.secondary-bg {
  background: lighten($maroon, 20%);
}

.third-bg {
  background: lighten($maroon, 10%);
}

/* Simple Grid */

.white-box {
  width: 100%;
  padding: 30px;
  background: $tan-lightest;
  @include shadow;
  @include roundcorners;

  &.sign-in {
    width: 420px;
    margin: 0 auto;
    overflow: auto;

    img {
      padding-top: 10px;
      width: 150px;
    }
  }
}

.red-box {
  @extend .white-box;
  background: lighten($maroon, 20%);
}

.red-box-dark {
  @extend .white-box;
  background: lighten($maroon, 10%);
}

.border-right {
  border-right: 1px solid $maroon;
}

.row {
  width: 100%;

  .two-col {
    float: left;
    width: 50%;
  }

  .three-col {
    float: left;
    width: 33%;
  }

  .three-col-span-two {
    float: left;
    width: 66%;
  }

  .four-col {
    float: left;
    width: 25%;
  }

  .five-col {
    float: left;
    width: 20%;
  }

  .nine-col {
    float: left;
    width: 11%;
  }

  .nine-col-span-three {
    float: left;
    width: 33%;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* surgical classes */

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.no-margin {
  margin: 0;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-bottom-large {
  margin-bottom: 40px;
}

.margin-top {
  margin-top: 15px;
}

.margin-top-large {
  margin-top: 40px;
}

.margin-left {
  margin-left: 15px;
}

.margin-right {
  margin-right: 15px;
}

.margin-right-large {
  margin-right: 40px;
}

.pad-all {
  padding: 25px;

  &.minus-top {
    padding-top: 0;
  }
}

.pad-all-large {
  padding: 0 50px 70px;
}

.pad-top {
  padding-top: 15px;
}

.pad-top-large {
  padding-top: 50px;
}

.pad-top-xlarge {
  padding-top: 200px;
}

.pad-bottom {
  padding-bottom: 15px;
}

.pad-bottom-large {
  padding-bottom: 40px;
}

.pad-bottom-xlarge {
  padding-bottom: 200px;
}

.pad-right {
  padding-right: 15px;
}

.pad-right-med {
  padding-right: 25px;
}

.pad-left {
  padding-left: 15px;
}

.hide {
  display: none;
}


.small-avatar {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.med-avatar {
  height: 55px;
  width: 55px;
  margin-right: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
