@import "variables_mixins";

* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box
}

body {
  background: $maroon;
}

/* Simple Grid */

.white-box {
  width: 100%;
  padding: 30px;
  background: $tan-lightest;
  @include shadow;
  @include roundcorners;

  &.sign-in {
    width: 420px;
    margin: 0 auto;
    overflow: auto;

    img {
      padding-top: 10px;
      width: 150px;
    }
  }
}

.border-right {
  border-right: 1px solid $maroon;
}

.row {
  width: 100%;

  &.primary-bg {
    background: image-url('backgrounds/groovepaper.png') repeat;
  }

  &.secondary-bg {
    background: lighten($maroon, 20%);
  }

  &.third-bg {
    background: lighten($maroon, 10%);
  }

  .two-col {
    float: left;
    width: 50%;
  }

  .three-col {
    float: left;
    width: 33%;
  }

  .three-col-span-two {
    float: left;
    width: 66%;
  }

  .four-col {
    float: left;
    width: 25%;
  }

  .five-col {
    float: left;
    width: 20%;
  }

  .nine-col {
    float: left;
    width: 11%;
  }

  .nine-col-span-three {
    float: left;
    width: 33%;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* surgical classes */

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.no-margin {
  margin: 0;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-bottom-large {
  margin-bottom: 40px;
}

.margin-top {
  margin-top: 15px;
}

.margin-top-large {
  margin-top: 40px;
}

.margin-left {
  margin-left: 15px;
}

.margin-right {
  margin-right: 15px;
}

.margin-right-large {
  margin-right: 40px;
}

.pad-all {
  padding: 25px;
}

.pad-all-large {
  padding: 50px 50px 70px;
}

.pad-top {
  padding-top: 15px;
}

.pad-top-large {
  padding-top: 40px;
}

.pad-top-xlarge {
  padding-top: 100px;
}

.pad-bottom {
  padding-bottom: 15px;
}

.pad-bottom-large {
  padding-bottom: 40px;
}

.pad-bottom-xlarge {
  padding-bottom: 100px;
}

.pad-right {
  padding-right: 15px;
}

.pad-right-med {
  padding-right: 25px;
}

.pad-left {
  padding-left: 15px;
}

.hide {
  display: none;
}