@import "variables_mixins";

table {
  @include roundcorners;
  margin: 20px 0 30px;
  width: 100%;
  text-align: left;
  
  tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.1);
  }

  th, td{
    padding: 12px;
  }
  
  th {
    background: $maroon;
    color: white;
  }
}

.artist-tbl {

  .small-avatar {
    position: relative;
    top: 8px;
  }

  td {
    padding: 0px 10px 12px;
  }
}

.highlight {
  a {
    color: $orange;
  }
}

.small-tbl-icon {
  padding-left: 4px;
  height: 15px;
  position: relative;
  top: 2px;
}