@import "variables_mixins";

.virtual-list {
  padding-left: 30px;
}

.shadow-border-right {
  background: image-url('chrome/divider-vertical.png') right repeat-y;
}

.virtual-box {
  @include roundcorners;
  background: $lightgray;
  padding: 15px;
  margin-bottom: 30px;
}

.virtual-comments {
  margin-bottom: 0;
  width: 100%;
}

.pdf-box {
  @include roundcorners;
  background: $medgray;
  padding: 15px;
  min-height: 155px;
}