@import "variables_mixins";

.virtual-list {
  padding-left: 30px;
}

.shadow-border-right {
  background: image-url('chrome/divider-vertical.png') right repeat-y;
}

.virtual-box {
  @include roundcorners;
  background: $tan-light;
  padding: 15px;
  margin-bottom: 30px;
}

.virtual-comments {
  margin-bottom: 0;
  width: 100%;
}

.pdf-box {
  @include roundcorners;
  background: $tan-lightest;
  padding: 15px;
  min-height: 155px;
}

.new-virtual-button {
  @include cursor;
  @include roundcorners;
  display: block;
  color: white;
  background: $green;
  text-align: center;
  padding: 20px;
  width: 100%;

  &:hover {
    background: $green-light;
  }
}

.virtual-notice {
  padding: 20px 60px;
  line-height: 17px;
  color: white;
  display: block;
  @include roundcorners;
  background-color: $orange;
  background-image: asset-url('icons/error.png');
  background-repeat: no-repeat;
  background-position: 20px 20px;
}
