<div class="curtain hide">
  <div class="row pad-top-large">
    <div class="white-box award-box">
      <i class="close">X</i>
      <h1 class="pad-bottom">Congratulations!</h1>
      <p>You have achieved the following awards, keep up the good work!</p>
      <% awards.each do |a| %>
        <div class="award margin-top-large">
          <%= image_tag a.icon %>
          <h2><%= a.name %><h2>
        </div>
      <% end %>
      <%= link_to "View Stats", creative_user_path(current_user), class: "button margin-top-large" %> 
    </div>
  </div>
</div>